<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>User Home</title>
</head>

<body>


    <nav class="navbar ">
        <div class="navbar-start">
            <div class="navbar-item">
                <h1 class="title">Parking Lot Management</h1>
            </div>
        </div>
        <div class="navbar-end">
            <div class="navbar-item">
                <form action="/auth/logout"method="post">
                <div class="navbar-item mt-3">
                    <button class="button is-link is-normal">Log-out</button>
                </div>
                </form>
            </div>
        </div>
    </nav>

    <div class="columns">
        <div class="column card is-5 is-offset-1">
            <h1 class="title">List of Cities : </h1>
            <%for(let city of cities){%>
            <div class="card mx-3 p-2 mt-2">
                    <p class="is-size-4">City : <%=city.name%></p>
                <ol>
                    <p class="is-size-5">Areas :</p> 
                    <div class="pl-4">
                    <% for(let subcity of city.sub_cities){%>
                        <li><%=subcity.name%></li>
                    <%}%>
                    </div> 
                </ol>
            </div>
            <%}%>
        </div>

        <div class="column is-offset-1 is-4">
            <div class="card pb-2">
            <h1 class="title">Add City </h1>
            <form action="/admin/addCity" method="post">
                <div class="field">
                    <label class="label">City Name</label>
                    <div class="control">
                        <input name="name" class="input" type="text" placeholder="City Name">
                    </div>
                    <div class="has-text-centered mt-2">
                        <button class="button is-link is-normal">Add</button>
                    </div>
                </div>
                </div>
            </form>
            <div class="card pb-2 mt-2">
                <h1 class="title">Add Area </h1>
                <form action="/admin/addArea" method="post">
                    <label class="label">City Name</label>
                    <div>
                        <select name="city" class="input" type="text">
                            <% for(let city of cities) { %>
                                <option value="<%=city._id%>"><%=city.name%></option>
                            <% }%>
                        </select>
                    </div>
                    <label class="label">Area Name</label>
                    <div class="control">
                        <input name="name" class="input" type="text" placeholder="Area Name">
                    </div>
                    <label class="label">Parking Capacity</label>
                    <div class="control">
                        <input name="maxCapacity" class="input" type="number" placeholder="Parking Capacity">
                    </div>
                    <div class="has-text-centered mt-2">
                        <button class="button is-link is-normal">Add</button>
                    </div>
                </form>
            </div>
        </div>

    </div>

</body>

</html>